#table {
    background-color: grey;
    text-align: center;
    width:150px;
    height: 150px;
    border: 2px solid;
    border-spacing: 2px;

}
#button {
    appearance: auto;
    color: red;
}
#text1 {
    color: black;
}
